@page
@model EditModel
@using Models.ModelEnums

@if (!ViewData.ModelState.IsValid)
{
	<div class="validation-summary-errors">
		<p>Please correct the following errors:</p>
		<ul>
			@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
			{
				<li>@error.ErrorMessage</li>
			}
		</ul>
	</div>
}

@{
	if (string.IsNullOrEmpty(Model.LoggedInUser.PersonalityType))
	{
		Response.Redirect("/UserPage/Quiz");
		return;
	}
}
<div class="center-div">

	<h1 class="white-text">Edit profile</h1>

	<form method="post" id="edit-flex" enctype="multipart/form-data">
		<section>
			<label for="firstName">First name</label>
			<input type="text" id="firstName" asp-for="LoggedInUser.FirstName" />
			<span asp-validation-for="LoggedInUser.FirstName"></span>
		</section>
		<section>
			<label for="lastName">Last name</label>
			<input type="text" id="lastName" asp-for="LoggedInUser.LastName" />
			<span asp-validation-for="LoggedInUser.LastName"></span>
		</section>
		<section>
			<label for="dateOfBirth">Date of birth</label>
			<input type="datetime" id="dateOfBirth" asp-for="LoggedInUser.DateOfBirth"
				   value="@Model.LoggedInUser.DateOfBirth.ToString("yyyy-MM-dd")" />
			<span asp-validation-for="LoggedInUser.DateOfBirth"></span>
		</section>
		<section>
			<label for="gender">Gender</label>
			<select asp-for="LoggedInUser.Gender" asp-items="Html.GetEnumSelectList<GenderType>()">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="preference">Preference</label>
			<select asp-for="LoggedInUser.Preference" asp-items="Html.GetEnumSelectList<SwipePreference>()">
				<option value="">Please select</option>
			</select>
		</section>
		<section>
			<label for="interest">Interests</label>
			@if (Model.AllInterests != null)
			{
				@foreach (var interest in Model.AllInterests)
				{
					bool isSelectedInterest = Model.LoggedInUser.Interests?.Any(item => item.Interest == interest) ?? false;
					<label>
						<input name="interestsToAdd" type="checkbox" value="@interest" @(isSelectedInterest ? "checked" : "") />
						@interest
					</label>
				}
			}
		</section>
		<section>
			<label for="cuisine">Cuisines</label>
			@if (Model.AllCuisines != null)
			{
				@foreach (var cuisine in Model.AllCuisines)
				{
					bool isSelectedCuisine = Model.LoggedInUser.Cuisines?.Any(item => item.Cuisine == cuisine) ?? false;
					<label>
						<input name="cuisinesToAdd" type="checkbox" value="@cuisine" @(isSelectedCuisine ? "checked" : "") />
						@cuisine
					</label>
				}
			}
		</section>
		<section>
			<label for="description">Description</label>
			<textarea id="description" asp-for="LoggedInUser.Description" rows="2" cols="50"></textarea>
			<span asp-validation-for="LoggedInUser.Description"></span>
		</section>
		<section>
			@* Upload a picture *@
			<label for="profilePictureUrl">Profile picture url</label>
			<input type="file" name="photo" id="profilePictureUrl" />
			</span>
		</section>

		<section>
			<label for="premium">Premium</label>
			<input type="checkbox" id="premium" asp-for="LoggedInUser.PremiumUser" />
			<span asp-validation-for="LoggedInUser.PremiumUser"></span>
		</section>
		<button type="submit" asp-route-loggedInId="@Model.LoggedInUser.Id">Update profile</button>
	</form>
</div>