@page
@using TinderProject.Utilities
@model IndexModel
@inject TinderProject.Data.AccessControl accessControl
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (!ProfileChecker.ProfileIsComplete(Model.LoggedInUser))
{
	<partial name="_ProfileNotCompleteMsg" />
}

@if (string.IsNullOrEmpty(Model.LoggedInUser.PersonalityType))
{
	Response.Redirect("/UserPage/Quiz");
	return;
}

else
{
	<div id="profile-div"class="center-div">
		<table id="profile-table">
			<tr>
				<th>First name</th>
				<td>@Model.LoggedInUser.FirstName</td>
			</tr>
			<tr>
				<th>Last name</th>
				<td>@Model.LoggedInUser.LastName</td>
			</tr>
			<tr>
				<th>Date of birth</th>
				<td>@Model.LoggedInUser.DateOfBirth.ToShortDateString()</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td>@Model.LoggedInUser.Gender</td>
			</tr>
			<tr>
				<th>Preference</th>
				<td>@Model.LoggedInUser.Preference</td>
			</tr>
			<tr>
				<th>Personality type</th>
				<td>@Model.LoggedInUser.PersonalityType</td>
			</tr>
			<tr>
				<th>Interests</th>
				<td>
					<ul>
						@foreach (var interest in Model.LoggedInUser.Interests)
						{
							<li>@interest.Interest</li>
						}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Favourite cuisine</th>
				<td>
					<ul>
						@foreach (var cuisine in Model.LoggedInUser.Cuisines)
						{
							<li>@cuisine.Cuisine</li>
						}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>@Model.LoggedInUser.Description</td>
			</tr>
			<tr>
				<th>Profile picture url</th>
				<td>@Model.LoggedInUser.ProfilePictureUrl</td>
			</tr>
			<tr>
				<th>Premium user</th>
				<td>@(Model.LoggedInUser.PremiumUser ? "Yes" : "No")</td>
			</tr>
		</table>

		<form>
			<button id="edit-btn" class="my-button" type="submit" asp-page="/UserPage/Edit">Edit profile</button>
		</form>
		<form>
			<button class="my-button" type="submit" asp-page="/UserPage/Quiz">Personality quiz</button>
		</form>
	</div>
}