@page
@using TinderProject.Utilities
@model IndexModel
@inject TinderProject.Data.AccessControl accessControl
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home page";
}

@if (ProfileChecker.ProfileIsComplete(Model.LoggedInUser))
{
    <partial name="_ProfileNotCompleteMsg" />
}
else
{
    <script src="../js/Swipe_Screen_Js.js" defer></script>

    @if (Model.NoUsersToSwipe)
    {
        <p>Could not find any users to swipe on!</p>
    }
    else
    {
        <div id="swipe-div">
            @if (Model.Match || Model.SuperLike)
            {
                @if (Model.Match)
                {
                    <div id="popup">
                        <div id="match-popup" class="popup-pic">
                            <div class="text-div-popup">
                                <h1>You got a new match!</h1>
                                <div>
                                    @* Skicka användaren till messagepage. *@
                                    <form>
                                        <button class="my-button" type="submit" asp-page="/Messages/ShowMessage"
                                            asp-route-userId="@Model.CurrentUserShown.Id">Send message</button>
                                        <button class="my-button" asp-page="/Index">Keep swiping</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                @if (@Model.SuperLike)
                {
                    <div id="popup">
                        <div id="super-like-popup" class=popup-pic>

                            <div class="text-div-popup">
                                <h1>Write a message to your superliked user!</h1>
                                <form method="post" id="super-like-msg">
                                    <input type="text" name="message">
                                    <button id="super-msg-btn" class="my-button" type="submit" asp-page-handler="Super"
                                        asp-route-userId="@Model.CurrentUserShown.Id">
                                        Send message
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                }
            }

            <section id="upper-background" class="area-a"
                style="background-image: url('@Model.CurrentUserShown?.ProfilePictureUrl')">

                <div id="name-radiobtns-flex">
                    <div id="name">
                        <h1>@Model.CurrentUserShown.FirstName </h1>
                    </div>
                    <form id="radio-form" class="radio-buttons" method="post"
                        title="Smart matching shows users with matching personality types first.&#010;Clicking these will cause a page reload">
                        <label>
                            <input type="radio" name="smartMatching" value="true" checked="@Model.SmartMatching"
                                onchange="submitForm()">
                            Smart matching
                        </label>
                        <label>
                            <input type="radio" name="smartMatching" value="false" checked="@(!Model.SmartMatching)"
                                onchange="submitForm()">
                            Reverse matching
                        </label>
                    </form>
                </div>
                <p id="age-p" class="padding">@Model.CurrentUserShown.Age</p>
                <p class="padding">@Model.CurrentUserShown.Description</p>
            </section>


            <section id="lower-background" class="area-b">
                <div id="bottom-div">
                    <div>
                        <p>Personality type:</p>
                        @* @foreach (var item in Model.CurrentUserShown.PersonalTypes)
                {
                bool isMatch = false;
                foreach (var loggedInType in Model.LoggedInUser.PersonalTypes)
                {
                if (loggedInType.Type == item.Type)
                {
                isMatch = true;
                break;
                }
                }
                if (isMatch)
                {
                <div class="interest-type-match">@item.Type</div>
                }
                else
                {
                <div class="interest-type-nomatch">@item.Type</div>
                }
                } *@
                    </div>

                    <div>
                        <p>Interests:</p>
                        @foreach (var item in Model.CurrentUserShown.Interests)
                        {
                            bool isMatch = false;
                            foreach (var loggedInInterest in Model.LoggedInUser.Interests)
                            {
                                if (loggedInInterest.Interest == item.Interest)
                                {
                                    isMatch = true;
                                    break;
                                }
                            }
                            if (isMatch)
                            {
                                <div class="interest-type-match">@item.Interest</div>
                            }
                            else
                            {
                                <div class="interest-type-nomatch">@item.Interest</div>
                            }
                        }

                    </div>
                    <form method="post" id="like-dislike-flex">

                        @* Dislike button *@
                        <button type="submit" name="like" value="false" class="invis-btn">
                            <img src="~/Pictures/red_cross.png" alt="A red cross for disliking" id="dislike-button"
                                class="like-dislike-pictures">
                        </button>

                        @* Super like button *@
                        <button type="submit" id="superlike-btn" value="super" class="invis-btn" asp-page-handler="Super"
                            disabled="@(!Model.LoggedInUser.PremiumUser)"
                            title='@(Model.LoggedInUser.PremiumUser ? null : "Become premium to use this")'>

                            <img src="~/Pictures/super.png" alt="Blue star for superlike" id="super-like-pic"
                                class="like-dislike-pictures">
                        </button>
                        @* Like button *@
                        <button type="submit" name="like" value="true" class="invis-btn"
                            asp-route-userId="@Model.CurrentUserShown.Id">
                            <img src="~/Pictures/green_Heart.png" alt="A green heart for liking" id="like-button"
                                class="like-dislike-pictures">
                        </button>
                    </form>
                </div>
            </section>
        </div>
    }
}