@page
@model IndexModel
@inject TinderProject.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

@* <h1>Welcome, @accessControl.LoggedInAccountName!</h1> *@

<div id="swipe-div" style="background-image: url('@Model.CurrentUserShown?.ProfilePictureUrl')">
    <h1 class="area-a" id="name-age">@Model.CurrentUserShown.FirstName @Model.CurrentUserShown.Age</h1>
    <p class="area-b">@Model.CurrentUserShown.Description</p>
    <p class="area-c">Adjektiv</p>
    <p class="area-d">Beskrivning</p>

    <form method="post" id="like-dislike-flex" class="area-e">

        <button type="submit" name="like" value="false" class="invis-btn">
            <img src="~/Pictures/red_cross.png" alt="A red cross for disliking" class="like-dislike-pictures">
        </button>

        <button type="submit" name="like" value="true" class="invis-btn">
            <img src="~/Pictures/green_Heart.png" alt="A green heart for liking" class="like-dislike-pictures">
        </button>
    </form>

</div>