@page
@using TinderProject.Utilities
@model IndexModel
@inject TinderProject.Data.AccessControl accessControl
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home page";
}

@{
    var completionMessage = ProfileChecker.GetProfileCompletionMessage(Model.LoggedInUser, HttpContextAccessor);
}

@if (!string.IsNullOrWhiteSpace(completionMessage?.ToString()))
{
    <p>@completionMessage</p>
}
else
{
    <script src="../js/Swipe_Screen_Js.js" defer></script>

    @* <h1>Welcome, @accessControl.LoggedInAccountName!</h1> *@

    @if (Model.Match)
    {
        <div id="match-div">
            <div id="match-options-flex">
                <h1>You got a new match!</h1>
                <div>
                    @* Skicka användaren till messagepage. *@
                    <form>
                        <button class="my-button" type="submit" asp-page="/Messages/ShowMessage"
                            asp-route-userId="@Model.CurrentUserShown.Id">Send message</button>
                        <button class="my-button" asp-page="/Index">Keep swiping</button>
                    </form>
                </div>
            </div>
        </div>
    }

    @if (Model.NoUsersToSwipe)
    {
        <p>Could not find any users to swipe on!</p>
    }
    else
    {
        <div id="swipe-div" style="background-image: url('@Model.CurrentUserShown?.ProfilePictureUrl')">
            <div class="area-a">
                <div id="upper-section">
                    <h1 id="name-age">@Model.CurrentUserShown.FirstName @Model.CurrentUserShown.Age</h1>

                    <form id="radio-form" class="radio-buttons" method="post"
                        title="Smart matching shows users with matching personality types first.&#010;Clicking these will cause a page reload">
                        <label>
                            <input type="radio" name="smartMatching" value="true" checked="@Model.SmartMatching"
                                onchange="submitForm()">
                            Smart matching
                        </label>
                        <label>
                            <input type="radio" name="smartMatching" value="false" checked="@(!Model.SmartMatching)"
                                onchange="submitForm()">
                            Reverse matching
                        </label>
                    </form>
                </div>
                <p>@Model.CurrentUserShown.Description</p>
            </div>

            <div class="area-b">
                <div>
                    <p>Personality type:</p>
                    @foreach (var item in Model.CurrentUserShown.PersonalTypes)
                    {
                        bool isMatch = false;
                        foreach (var loggedInType in Model.LoggedInUser.PersonalTypes)
                        {
                            if (loggedInType.Type == item.Type)
                            {
                                isMatch = true;
                                break;
                            }
                        }
                        if (isMatch)
                        {
                            <div class="interest-type-match">@item.Type</div>
                        }
                        else
                        {
                            <div class="interest-type-nomatch">@item.Type</div>
                        }
                    }
                </div>

                <div>
                    <p>Interests:</p>
                    @foreach (var item in Model.CurrentUserShown.Interests)
                    {
                        bool isMatch = false;
                        foreach (var loggedInInterest in Model.LoggedInUser.Interests)
                        {
                            if (loggedInInterest.Interest == item.Interest)
                            {
                                isMatch = true;
                                break;
                            }
                        }
                        if (isMatch)
                        {
                            <div class="interest-type-match">@item.Interest</div>
                        }
                        else
                        {
                            <div class="interest-type-nomatch">@item.Interest</div>
                        }
                    }

                </div>
            </div>

            <form method="post" id="like-dislike-flex" class="area-c">

                @* Dislike button *@
                <button type="submit" name="like" value="false" class="invis-btn">
                    <img src="~/Pictures/red_cross.png" alt="A red cross for disliking" id="dislike-button"
                        class="like-dislike-pictures">
                </button>

                @* Super like button *@

                @* Använda en annan Post metod eller den som finns. *@
                <button type="submit" name="like" id="superlike-btn" value="super" class="invis-btn"
                    asp-route-userId="@Model.CurrentUserShown.Id" disabled="@(!Model.LoggedInUser.PremiumUser)">
                    <img src="~/Pictures/super.png" alt="Blue star for superlike" id="super-like-pic"
                        class="like-dislike-pictures">
                </button>

                @* Like button *@
                <button type="submit" name="like" value="true" class="invis-btn" asp-route-userId="@Model.CurrentUserShown.Id">
                    <img src="~/Pictures/green_Heart.png" alt="A green heart for liking" id="like-button"
                        class="like-dislike-pictures">
                </button>
            </form>
        </div>
    }
}