@page
@model TinderProject.Pages.Messages.IndexModel
@{
    ViewData["Title"] = "Messages";
}

<h2>@ViewData["Title"]</h2>

<div>

    @if (Model.User != null && Model.User.Any())
    {

        <ul>
            <h3>Conversation</h3>
            @foreach (var user in Model.User)
            {
                <li>
                    <a asp-page="ShowMessage" asp-route-userId="">@user.FirstName</a>
                    <img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic">
                </li>
            }
        </ul>
    }
    else
    {
        <p>No messages received or sent.</p>
    }

    <h3>New matches</h3>
    @if (Model.NoConversation != null && Model.NoConversation.Any())
    {
        <p>Start konversation whit: </p>
        <ul>
            @foreach (var message in Model.NoConversation)
            {
                <li>
                    <a asp-page="ShowMessage" asp-route-userId="@message.Id" >@message.FirstName</a>
                    <img src="@message.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic">
                </li>
            }
        </ul>
    }
    else
    {
        <p>
            No matches
        </p>
    }

</div>