@page
@model TinderProject.Pages.Messages.IndexModel

<h2 class="white-text center-div">Conversations</h2>

<div>

    @if (Model.User != null && Model.User.Any())
    {
        <table class="message-table">
            @foreach (var user in Model.User)
            {
                <tr>
                    <td class="white-text"><a asp-page="ShowMessage" asp-route-userId="@user.Id" >@user.FirstName</a></td>
                    <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                    <td>
                        <form method="get" >
                            <button type="submit" class="my-button" asp-page="Delete" asp-route-userId="@user.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p class="white-text center-div">No messages received or sent.</p>
    }
    <h3 class="white-text center-div">New matches</h3>
    @if (Model.NoConversation != null && Model.NoConversation.Any())
    {
        <p class="white-text center-div">Start conversation with:</p>

        <table class="message-table">
            @foreach (var user in Model.NoConversation)
            {
                <tr>
                    <td><a asp-page="ShowMessage" asp-route-userId="@user.Id">@user.FirstName</a></td>
                    <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                    <td>
                        <form method="get" >
                            <button type="submit" class="my-button" asp-page="Delete" asp-route-userId="@user.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p class="center-div white-text">
            No new matches
        </p>
    }

</div>