@page "{userId:int}"
@model TinderProject.Pages.Messages.MessagesModel

<h2 id="message-header" class="white-text">Conversations</h2>

<div id="message-continer">
    <div id="message-div">
        <p class="white-text">Conversation with: @Model.OtherUser.FirstName @Model.OtherUser.LastName </p>

        @foreach (var message in Model.Messages)
        {
            @if (Model.OtherUser.Id == message.SentFromId)
            {
                <section id="message-left">
                    <p id="message-name">@message.SentFrom.FirstName @message.SentFrom.LastName wrote:</p>
                    <p id="message-message">@message.SentMessage</p>
                    <p id="message-time">@message.SentTime</p>

                </section>
            }
            else
            {
                <section id="message-right">
                    <p id="message-name">@message.SentFrom.FirstName @message.SentFrom.LastName wrote:</p>
                    <p id="message-message">@message.SentMessage</p>
                    <p id="message-time">@message.SentTime</p>
                    @if (Model.CurrentUser.PremiumUser == true && message.isRead == true)
                    {
                        <p>Read by user</p>
                    }
                </section>
            }
        }
    </div>

    <div id="interactions-div">
        @if (Model.User != null && Model.User.Any())
        {
            <table class="message-table">
                @foreach (var user in Model.User)
                {
                    <tr>
                        <td class="white-text"><a asp-page="ShowMessage" asp-route-userId="@user.Id">@user.FirstName</a></td>
                        <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No messages received or sent.</p>
        }

        <h3 class="white-text">New matches</h3>
        @if (Model.NoConversation != null && Model.NoConversation.Any())
        {
            <p class="white-text">Start conversation with: </p>

            <table class="message-table">
                @foreach (var user in Model.NoConversation)
                {
                    <tr>
                        <td class="white-text"><a asp-page="ShowMessage" asp-route-userId="@user.Id">@user.FirstName</a></td>
                        <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>
                No matches
            </p>
        }
    </div>
    @* Skicka meddelande *@
    <div id="message-flex">
        <form method="post" id="send-msg-flex">
            <textarea name="message" id="message" placeholder="Write message"></textarea>
            <button type="submit" class="my-button">Send</button>
        </form>

        <form method="post">
            <button asp-page-handler="Cuisine" id="cuisine-btn" class="my-button"
                title="Try our new feature! Get a dish that you and your match can cook together">Get cuisine</button>
        </form>
    </div>

    <div id="interactions-div-small">
        @if (Model.User != null && Model.User.Any())
        {
            <table class="message-table">
                @foreach (var user in Model.User)
                {
                    <tr>
                        <td class="white-text"><a asp-page="ShowMessage" asp-route-userId="@user.Id">@user.FirstName</a></td>
                        <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No messages received or sent.</p>
        }

        <h3 class="white-text">New matches</h3>
        @if (Model.NoConversation != null && Model.NoConversation.Any())
        {
            <p class="white-text">Start conversation with: </p>

            <table class="message-table">
                @foreach (var user in Model.NoConversation)
                {
                    <tr>
                        <td class="white-text"><a asp-page="ShowMessage" asp-route-userId="@user.Id">@user.FirstName</a></td>
                        <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>
                No matches
            </p>
        }
    </div>
</div>
