@page
@model EditModel
@using Models.ModelEnums
@{
	var AllCuisines = System.IO.File.ReadAllLines("./Data/DataToUsers/Cuisines.txt").ToList();
	var AllInterests = System.IO.File.ReadAllLines("./Data/DataToUsers/Interests.txt").ToList();
	var UserInterests = Model.GetUserInterests();
	var UserCuisines = Model.GetUserCuisines();

	var profilepicUrl = Model.LoggedInUser.ProfilePictureUrl;
}
<div class="center-div">

	<h1 class="white-text">Edit profile</h1>
	<h3 class="white-text underline margin-1rem">All fields are required to swipe!</h3>

	<form method="post" id="edit-flex" enctype="multipart/form-data">

		<section>
			<label for="firstName" class="label-font white-text">First name: </label>
			<input type="text" id="firstName" asp-for="LoggedInUser.FirstName" />
		</section>

		<section>
			<label for="lastName" class="label-font white-text">Last name: </label>
			<input type="text" id="lastName" asp-for="LoggedInUser.LastName" />
		</section>

		<section>
			<label for="dateOfBirth" class="label-font white-text">Date of birth: </label>
			<input type="date" id="dateOfBirth" asp-for="LoggedInUser.DateOfBirth"
				value="@Model.LoggedInUser.DateOfBirth.ToString("yyyy-MM-dd")" />
		</section>

		<section>
			<label for="gender" class="label-font white-text">Gender: </label>
			<select asp-for="LoggedInUser.Gender" asp-items="Html.GetEnumSelectList<GenderType>()"
				class="dropdown-edit">
				<option value="">Please select</option>
			</select>
		</section>

		<section>
			<label for="preference" class="label-font white-text">Preference: </label>
			<select asp-for="LoggedInUser.Preference" asp-items="Html.GetEnumSelectList<SwipePreference>()"
				class="dropdown-edit">
				<option value="">Please select</option>
			</select>
		</section>

		<section>
			<label for="ageFormula" class="label-font white-text"
				title="ðŸ˜ Click this if you want to use our pre calculated age formula. You will only get those who are about the same age as you. ðŸ˜">Use
				age algorithm</label>

			<input type="checkbox" id="ageFormula" asp-for="LoggedInUser.AgeFormula" />
		</section>

		@* Age option *@
		<h3 class="label-font white-text">Age preference: </h3>

		<section id="ageSelectorSection">
			<div class="nav-ul margin-1rem">
				@* Min age *@
				<label for="minAge" class="label-font white-text">Min age</label>

				<input type="range" id="minAge" min="18" max="100"
					oninput="this.form.minAgeInput.value=this.value">

				<input type="number" id="minAgeInput" min="18" max="100"  asp-for="LoggedInUser.MinAge"
					oninput="this.form.minAge.value=this.value" />
			</div>

			<div class="nav-ul margin-1rem">
				@* Max age *@
				<label for="maxAge" class="label-font white-text">Max age</label>

				<input type="range" id="maxAge" min="18" max="100" 
					oninput="this.form.maxAgeInput.value=this.value">

				<input type="number" id="maxAgeInput" min="18" max="100"
				asp-for="LoggedInUser.MaxAge"
					oninput="this.form.maxAge.value=this.value" />
			</div>

		</section>

		<h3 class="label-font white-text">Interests: </h3>
		<section class="edit-display-grid">

			@foreach (var interest in AllInterests)
			{
				bool isSelectedInterest = UserInterests.Contains(interest);

				<label class="white-text">
					<input name="interestsToAdd" type="checkbox" value="@interest" @(isSelectedInterest ? "checked" : "") />
					@interest
				</label>
			}

		</section>
		<h3 class="label-font white-text">Cuisines: </h3>
		<section class="edit-display-grid">

			@foreach (var cuisine in AllCuisines)
			{
				bool isSelectedCuisine = UserCuisines.Contains(cuisine);

				<label class="white-text">
					<input name="cuisinesToAdd" type="checkbox" value="@cuisine" @(isSelectedCuisine ? "checked" : "") />
					@cuisine
				</label>
			}

		</section>

		<section>
			<label for="description" class="label-font white-text">Description: </label>
			<textarea class="edit-textarea" id="description" asp-for="LoggedInUser.Description" rows="3"
				cols="50"></textarea>
			<p class="white-text">Describe yourself and the person you are looking for in max 30 words</p>
		</section>

		<section>
			@* Upload a picture *@

			<label for="profilePictureUrl" class="label-font white-text">Profile picture</label>
			<div id="pic-flex">
				<input type="file" name="photo" id="profilePictureUrl" class="edit-textarea" />

				<img src="@profilepicUrl">
			</div>

		</section>

		<section>
			<label for="premium" class="white-text">Premium</label>
			<input type="checkbox" id="premium" asp-for="LoggedInUser.PremiumUser" />
		</section>

		@* Error messages model state *@
		<div asp-validation-summary="All" class="underline"></div>

		<button type="submit" asp-route-loggedInId="@Model.LoggedInUser.Id" class="my-button">
			Update
			profile
		</button>
	</form>
</div>