@page
@model TinderProject.Pages.Premium.IndexModel
@{
    ViewData["Title"] = "Likers";
}


<h2>@ViewData["Title"]</h2>


@if (Model.IsPremium)
{
    <table>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>Liker: </th>
                <td><a asp-page="ShowLikerInfo" asp-route-userId="@user.Id">@user.FirstName @user.LastName</a></td>
                <td><img src="@user.ProfilePictureUrl" alt="Profile Picture" id="messageProfilePic"></td>
                
            </tr>
        }
    </table>

}
else{
    <p>You need to upgrade to premimum</p>
}

